
nav{
    background-color: #EC6F75;
    display: flex;
    justify-content: space-around;
    height:50px;
    padding: 0px 3%;
}
nav>*{
    height: 100%;
    padding: 0px 5px;
}
nav h1{
    margin-top:10px;
    color:white;
    display: block;
    width:90%;
    font-size: 25px;
    text-align:center;
}
nav input{
    width:20%;
}
nav button{
    background-color: #EC6F75;
    border:none;
    height:100%;
}
nav button:hover{
    background-color: rgb(212,100,105);
}
span{
    color:white;
}
.hidden{
    display: none;
}
.shown{
    display: block;
}